#board{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 80px 80px 80px 80px;
	grid-template-rows: auto;
}

.tile {
	background-color: teal;
	height: 80px;
	font-size: 30px;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;

}

@media (min-width: 650px) {
	#board{
		grid-template-columns: 100px 100px 100px 100px 100px 100px;
	}

	.tile{
		height:100px;
	}
}